.tab {
	-fx-border-width: 1 0 1 1;
	-fx-border-color: rgb(31,120,43);
	-fx-background-color: #E6FFC9;
	/*-fx-padding: 5;*/
	-fx-text-fill: black;
	/*-fx-border-insets: 5 0 5 0;
	-fx-background-insets: 5 0 5 0;*/
	-fx-padding: 5 15 5 15;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent; 
}

.tab-content-area {
	/*-fx-border-width: 0;
	-fx-border-color: rgb(31,120,43);*/
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:  rgb(31,120,43);
}

.tab:selected {
	-fx-background-color: rgb(167,225,108);
}

.tab:hover { 
	-fx-background-color: rgb(167,225,108);
	-fx-cursor: hand;
}

/*.tab-pane:focused > .tab-header-area > .headers-reg*/
